* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.white {
    background-color: brown;
}

.black {
    background-color: #c1bbb2;
}

.selected {
    background-color: rgb(99, 110, 211);
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(99, 110, 211);
}

.attackable {
    background-color: green;
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: burlywood;
}

.miniLogo {
    width: 20px;
    height: 20px;
}