* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
    z-index: 1;
}

.white {
    background-color: brown;
}

.black {
    background-color: #c1bbb2;
}

.selected {
    background-color: rgb(99, 110, 211);
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(99, 110, 211);
}

.attackable {
    background-color: green;
}

.lost {
    height: 25vh;
    padding: 30px;
    margin-left: 50px;
    background-color: burlywood;
    position: relative;
    width: calc(20vw - 110px)
}

.lost h3 {
    position: relative;
    display: flex;
}

.lost div {
    display: inline-flex;
    border: 1px solid black;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: 2px;
    padding: 2px;
}

.miniLogo {
    width: 20px;
    height: 20px;
}

.timer {
    margin-right: 5%;
}

.textUI {
    margin-top: 15%;
    margin-bottom: 15%;
}



